body{
    background-image: url('images/bg.jpeg');
    background-size: 100%;
    color:black;
  }
  a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
  }
  a:hover{
    text-decoration: underline;
    color: green;
  }
  .container{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50vw; 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
  }
.d{
    position: absolute;
    top: 65vh;
    left: 45vw;
}

  .f{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 15px 0 rgba(0,0,0,0.8);
  }
  .form-control{
    height: 50px;
    font-size: 15px;
  }
  .form-group{padding: 7px;}
  .container .f textarea{
    height: 100px;
    resize: none;
  }
  .container .f .btn{
    font-size: 20px!important;
  }
  h5{margin-bottom: 0;}